.slick-slider{
    position: relative;
}
.slick-slider .slick-prev{
    position: absolute;
    left: 50px;
    top: 50%;
    width: 50px;
    height: 70px;
    clip-path: polygon(41% 0, 16% 49%, 43% 100%, 25% 100%, 0% 50%, 24% 0);
    background-color: aliceblue;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;
    font-size: 0;
    display: none;
}


.slick-slider .slick-next {
    position: absolute;
    right: 50px;
    top: 50%;
    width: 50px;
    height: 70px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 59% 100%, 84% 50%, 59% 0);
    background-color: aliceblue;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;
    font-size: 0;
    /* display: none; */
}